%nav.Offscreen.Nav-List
  %a.Button
    %i.Menu-Bar.Menu-Top
    %i.Menu-Bar.Menu-Middle
    %i.Menu-Bar.Menu-Bottom
    #mobile-nav-brand
  %ul
    %li.about-me-link
      %a.about-me-link About Me
    %li.brands-link
      %a.brands-link Brands I've Built
    %li.my-beliefs-link
      %a.my-beliefs-link What I Believe
    %li.connect-link
      %a.connect-link Connect with Me

:javascript

  $(".Button").on("click",function(e){
    $(this).parent().toggleClass("is-Open");
  });

  $('.about-me-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#short-bio").offset().top - 0}, 800
    )
  })

  $('.my-beliefs-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#my_beliefs").offset().top - 0}, 800
    )
  })

  $('.brands-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#mobile_my_brands").offset().top - 0}, 800
    )
  })

  $('.connect-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#partner-signup").offset().top - 0}, 800
    )
  })
