#header{role: "navigation"}
  .container-fluid{style: "background: transparent; z-index: 1001; position: relative;"}
    .navbar-header
      %button.navbar-toggle.collapsed.mobile-navbar-navigation{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .col-md-12
        %a.navbar-brand{href: "/"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.mobile-navbar-menu
      %ul.nav.navbar-nav.navbar-left
        %a
          .btn.btn-default.about-me-link
            About Me
        %a
          .btn.btn-default.my-beliefs-link
            What I Believe
        %a
          .btn.btn-default.brands-link
            Brands I've Built
        %a
          .btn.btn-default.connect-link
            Let's Connect

:javascript

  (function ($) {
    $(document).ready(function(){
      
    // hide .navbar first
    $("#header").hide();
    
    // fade in .navbar
    $(function () {
      $(window).scroll(function () {
              // set distance user needs to scroll before we fadeIn navbar
        if ($(this).scrollTop() > 100) {
          $('#header').fadeIn();
        } else {
          $('#header').fadeOut();
        }
      });

    
    });

  });
    }(jQuery));


  $('.about-me-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#about_me").offset().top - 56}, 800
    )
  })

  $('.my-beliefs-link').click(function(){
    $('html, body').animate({
      scrollTop: $("#my_beliefs").offset().top - 56}, 800
    )
  })

  $('.brands-link').click(function(){
    $('html, body').animate({
      scrollTop: $(".brands-container").offset().top - 56}, 800
    )
  })

  $('.connect-link').click(function(){
    $('html, body').animate({
      scrollTop: $(".partner-signup").offset().top - 56}, 800
    )
  })