#header{role: "navigation"}
  .container-fluid{style: "background: transparent; z-index: 1001; position: relative;"}
    .navbar-header
      %button.navbar-toggle.collapsed.mobile-navbar-navigation{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .col-md-12
        %a.navbar-brand{href: "/"}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.mobile-navbar-menu
      %ul.nav.navbar-nav.navbar-left
        %a{:href => "/projects"} 
          .btn.btn-default
            About Me
        %a{:href => "/about-us"} 
          .btn.btn-default
            Brands I've Built
        %a{:href => "/about-us"} 
          .btn.btn-default
            Places I've Been

:javascript

(function ($) {
  $(document).ready(function(){
    
  // hide .navbar first
  $("#header").hide();
  
  // fade in .navbar
  $(function () {
    $(window).scroll(function () {
            // set distance user needs to scroll before we fadeIn navbar
      if ($(this).scrollTop() > 100) {
        $('#header').fadeIn();
      } else {
        $('#header').fadeOut();
      }
    });

  
  });

});
  }(jQuery));