#about_me{
	background: #fff;

	.about-me-details{
		padding-left: 0px;
		padding-right: 0px;

		.about-me-mission{
			padding-bottom: 96px;
			background: #212326;
			min-height: 550px;

			.about-me-header{
				max-width: 800px;
				margin: auto;
				padding-bottom: 12px;
				font-family: proxima_bold;
				font-size: 3.2em;
				text-align: left;
				color: #fff;
				letter-spacing: -2px;
				padding-top: 72px;
			}

			.about-me-mission-text{
				font-family: proxima_regular;
				font-size: 1.4em;
				text-align: left;
				color: #fff;
				max-width: 800px;
				margin: auto;
				letter-spacing: -0.5px;
			}
		
			.icon-categories{
				padding-top: 72px;

				.icon-category-container{
					border-radius: 50%;
					background: #212326;
					padding: 18px;

					.icon-category-header{
						font-family: proxima_bold;
						font-size: 2.4em;
						text-align: center;
						color: #fff;
						height: 80px;
						margin-bottom: 24px;
					}

					.icon-category{
						height: 128px;
						filter: grayscale(0);
						-webkit-filter: grayscale(0);
						transition: filter 600ms ease;
						-webkit-transition: -webkit-filter 600ms ease;

						&:hover{
							filter: grayscale(100%);
							-webkit-filter: grayscale(100%);
						}
					}
				}
			}
		}

		.partners-grid{

			.partners-grid-image-container{
				padding-left: 0px;
				padding-right: 0px;

				.partners-grid-image{
					background-size: cover !important;
					background-attachment: fixed !important;
					height: 800px;

					.partners-grid-text{
						padding: 36px;
						background: #fff;
						width: 50%;
						padding-top: 180px;
						height: 100%;

						.partners-grid-header{
							font-family: proxima_bold;
							font-size: 3em;
							letter-spacing: -1px;
							text-align: left;
							color: #fff;
							max-width: 500px;
							margin: auto;
							line-height: 40px;
						}

						.partners-grid-subheader{
							font-family: proxima_regular;
							font-size: 1.6em;
							text-align: left;
							color: #fff;
							max-width: 500px;
							margin: auto;
							letter-spacing: -0.5px;
							padding-top: 12px;
						}

						.partners-grid-underline-container{
							max-width: 500px;
							padding-top: 24px;
							margin: auto;

							.partners-grid-underline{
								border-bottom: 4px solid #fff;
								max-width: 60px;
							}
						}

						.partners-grid-description{
							font-family: proxima_regular;
							font-size: 1.4em;
							text-align: left;
							color: #fff;
							max-width: 500px;
							margin: auto;
							padding-top: 32px;
							letter-spacing: -0.5px
						}
					}
				}
			}
		}
	}

	.partner-signup{
		background: #212326;
		height: 450px;
		padding-top: 120px;

		.partner-signup-title{
			font-family: proxima_bold;
			font-size: 4em;
			text-align: center;
			color: #fff;
			max-width: 900px;
			margin: auto;
			letter-spacing: -1px;
		}

		.partner-signup-btn{
			max-width: 190px;
			color: #fff;
			margin: auto;
			text-align: center;
			height: 50px;
			font-family: proxima_bold;
			font-size: 1.2em;
			margin-top: 12px;
			padding-top: 10px;
			border: 4px solid #fff;

			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;

			&:hover{
				box-shadow: 0px 0px 0px #000;
			}
		}
	}
}

@media screen and (max-width: 991px){

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text{
		width: 100%;
	}

	#about_me .partners-details .partners-mission .partners-mission-text{
		font-size: 1.6em;
		max-width: 700px;
	}

	#about_me .partner-signup .partner-signup-title{
		font-size: 3em;
	}
}

@media screen and (max-width: 771px){

	#about_me .partners-banner .partners-title{
		font-size: 2.2em;
		line-height: 48px;
	}

	#about_me .partners-banner .partners-subtitle{
		font-size: 1.4em;
		padding-bottom: 16px;
	}

	#about_me .partners-details .partners-mission .partners-mission-text{
		font-size: 1.4em;
		max-width: 500px;
		letter-spacing: -0.5px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image{
		height: 500px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text{
		padding-top: 120px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-header{
		font-size: 2.4em;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-subheader{
		font-size: 1.4em;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-description{
		font-size: 1.2em;
	}
}

@media screen and (max-width: 500px){

	#about_me .partners-banner{
		height: 500px;
		padding-top: 120px;
	}

	#about_me .partners-banner .partners-title{
		font-size: 2.2em;
		max-width: 300px;
		line-height: 36px;
		padding-bottom: 16px;
	}

	#about_me .partners-banner .partners-subtitle{
		display: none;
	}

	#about_me .partners-details .partners-mission .partners-mission-text{
		font-size: 1.2em;
		max-width: 95%;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text{
		padding-top: 72px;
		padding-left: 12px;
		padding-right: 12px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-header{
		font-size: 2em;
		line-height: 32px;
		padding-bottom: 4px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-subheader{
		font-size: 1.2em;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-underline-container{
		padding-top: 12px;
	}

	#about_me .partners-details .partners-grid .partners-grid-image-container .partners-grid-image .partners-grid-text .partners-grid-description{
		font-size: 1em;
		padding-top: 12px;
	}

	#about_me .partner-signup{
		padding-top: 130px;
	}

	#about_me .partner-signup .partner-signup-title{
		font-size: 2.4em;
	}
}