#about_me{
	background: #fff;

	.about-me-details{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 144px;

		.about-me-mission{
			background: #fff;
			min-height: 400px;

			.about-me-header{
				max-width: 600px;
				margin: auto;
				font-family: proxima_black;
				font-size: 3em;
				text-align: left;
				color: #212326;
				letter-spacing: -1px;
				padding-top: 128px;
			}

			.about-me-subtitle{
				max-width: 600px;
				margin: auto;
				padding-bottom: 20px;
				font-family: proxima_bold;
				font-size: 1.4em;
				text-align: left;
				color: #212326;
				font-style: italic;
			}

			.about-me-mission-text{
				font-family: proxima_regular;
				font-size: 1.4em;
				text-align: left;
				color: #212326;
				max-width: 600px;
				margin: auto;
				letter-spacing: -0.5px;
				padding-bottom: 144px;
			}
		}
		
		#my_beliefs{
			background: #77b3d4;
			height: 800px;


			.quote-content{
				max-width: 600px;
				margin: auto;
				padding-top: 128px;
				padding-bottom: 144px;

				.traveler-quote-header{
					font-family: proxima_black;
					font-size: 3em;
					color: #212326;
					text-align: left;
					letter-spacing: -1px;
				}

				.traveler-quote-text{
					font-family: proxima_regular;
					font-size: 1.4em;
					color: #fff;
					text-align: left;
					letter-spacing: -0.5px;
				}

				.traveler-quote-name{
					font-family: proxima_bold;
					font-size: 2em;
					color: #fff;
					text-align: left;
					padding-bottom: 20px;
					letter-spacing: -1px;
					font-style: italic;
				}

				.quote-images{
					max-width: 400px;
					margin: auto;
					display: flex;
					padding-top: 72px;

					.quote-image-button{
					    width: 100px;
					    height: 100px;
					    float: left;
					    border-radius: 50%;
					    cursor: pointer;
					    margin: auto;
					    box-shadow: 1px 1px 2px #444;
					    background-size: contain !important;

						-moz-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;

						&:hover{
							-moz-transform: scale(1.1);
							-webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					}
				}
			}
		}

		.brands-container{
			background: #fff;
			max-width: 90%;
			margin: auto;
			padding-top: 128px;
			padding-bottom: 144px;

			.thumb {
				height: 425px; 
				perspective: 800px;

				&:hover{

					.thumb-background{
						opacity: 1 !important;
					}

					.thumb-text{
						padding-top: 0px !important;
					}
				}

				.thumb-background{
					padding-top: 12px;
					padding-left: 8px;
					padding-right: 8px;
					padding-bottom: 12px;
					position: absolute;
					opacity: 0;
					transition: all 0.5s;
					-moz-transition: all 0.5s;
					-webkit-transition: all 0.5s;
					width: 100%;
					padding-top: 100px;

					.thumb-text{
						font-family: proxima_bold;
						font-size: 2.4em;
						color: #212326;
						text-align: center;
						letter-spacing: -1px;
						padding-top: 80px;
						transition: all 0.5s;
						-moz-transition: all 0.5s;
						-webkit-transition: all 0.5s;
					}
				}
			}

			.mobile-brand-row{
				display: none;
				margin: auto;
				max-width: 600px;
				margin-top: 64px;

				.mobile-brand-image{
					height: 320px;
					background-size: cover !important;
				}

				.mobile-brand-header{
					margin: auto;
					font-family: proxima_black;
					font-size: 3em;
					text-align: left;
					color: #212326;
					letter-spacing: -1px;
					padding-top: 24px;
				}

				.mobile-brand-subtitle{
					margin: auto;
					font-family: proxima_bold;
					font-size: 1.4em;
					color: #212326;
					text-align: left;
					padding-bottom: 20px;
					padding-top: 12px;
				}

				.mobile-brand-description{
					font-family: proxima_regular;
					font-size: 1.2em;
					text-align: left;
					color: #212326;
					margin: auto;
					letter-spacing: -0.5px
				}

				.mobile-brand-link{
					max-width: 140px;
					color: #212326;
					margin: auto;
					text-align: center;
					height: 40px;
					font-family: proxima_bold;
					font-size: 1.2em;
					margin-top: 24px;
					padding-top: 8px;
					background: #fff;
					border: 2px solid #212326;

					-webkit-transition: .2s ease-in-out;
					-moz-transition: .2s ease-in-out;
					-o-transition: .2s ease-in-out;

					&:hover{
						box-shadow: 0px 0px 0px #000;
						max-width: 180px;
						text-decoration: none !important;
					}
				}
			}

			.brand-row{
				margin-top: 128px;
			}

			.brand-text-box{
				background: transparent;
				height: 390px;
				padding-left: 4%;
				padding-right: 4%;

				.brand-grid-header{
					max-width: 800px;
					margin: auto;
					font-family: proxima_black;
					font-size: 3.2em;
					text-align: left;
					color: #212326;
					letter-spacing: -1px;
				}

				.brand-grid-subheader{
					max-width: 800px;
					margin: auto;
					font-family: proxima_bold;
					font-size: 1.4em;
					color: #212326;
					text-align: left;
					padding-bottom: 20px;
					padding-top: 12px;
				}

				.brand-grid-description{
					font-family: proxima_regular;
					font-size: 1.4em;
					text-align: left;
					color: #212326;
					margin: auto;
					letter-spacing: -0.5px
				}
			}

			.thumb a {
				display: block; 
				width: 100%; 
				height: 100%;
				/*double layered BG for lighting effect*/
				background: 
					linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
					asset-url("logos/request_icon.png");
				background-size: cover !important;
				/*disabling the translucent black bg on the main image*/
				background-size: 0, cover;
				/*3d space for children*/
				transform-style: preserve-3d;
				transition: all 0.5s;
				-moz-transition: all 0.5s;
				-webkit-transition: all 0.5s;

				&:hover{
					background-color: #212326 !important;
				}
			}

			.thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
			/*bottom surface */
			.thumb a:after {
				/*36px high element positioned at the bottom of the image*/
				content: ''; 
				position: absolute; 
				left: 0; 
				bottom: 0; 
				width: 100%; height: 36px;
				/*inherit the main BG*/
				background: inherit; 
				background-size: cover, cover;
				/*draw the BG bottom up*/
				background-position: bottom;
				/*rotate the surface 90deg on the bottom axis*/
				transform: rotateX(90deg);
				transform-origin: bottom;
			}
			/*label style*/
			.thumb a span {
				color: white; 
				text-transform: uppercase;
				position: absolute; 
				top: 100%; 
				left: 0; 
				width: 100%;
				font-family: proxima_black;
				font-size: 2em;
				text-align: center;
				/*the rotation is a bit less than the bottom surface to avoid flickering*/
				transform: rotateX(-89.99deg);
				transform-origin: top;
				z-index: 1;
			}
			/*shadow*/
			.thumb a:before {
				content: ''; position: absolute; top: 0; left: 0;
				width: 100%; height: 100%;
				background: rgba(0, 0, 0, 0.5); 
				box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
				transition: all 0.5s; 
				/*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
				opacity: 0.15;
				transform: rotateX(95deg) translateZ(-80px) scale(0.75);
				transform-origin: bottom;
			}
			.thumb:hover a:before {
				opacity: 1;
				/*blurred effect using box shadow as filter: blur is not supported in all browsers*/
				box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
				/*pushing the shadow down and scaling it down to size*/
				transform: rotateX(0) translateZ(-60px) scale(0.85);
			}

			.brands-header{
				max-width: 800px;
				margin: auto;
				font-family: proxima_black;
				font-size: 3.2em;
				text-align: left;
				color: #212326;
				letter-spacing: -1px;
			}

			.brands-subtitle{
				max-width: 800px;
				margin: auto;
				font-family: proxima_bold;
				font-size: 2.4em;
				color: #212326;
				text-align: left;
				padding-bottom: 20px;
				letter-spacing: -1px;
			}

			.brands-title-text{
				max-width: 800px;
				margin: auto;
				font-family: proxima_regular;
				font-size: 1.4em;
				color: #212326;
				text-align: left;
				padding-bottom: 72px;
			}
		}
	}

	.partner-signup{
		background: #212326;
		height: 800px;
		padding-top: 240px;
		background-size: cover;
		background-attachment: fixed !important;
		background-size: cover !important;

		.partner-signup-title{
			font-family: proxima_bold;
			font-size: 2.4em;
			text-align: center;
			color: #fff;
			max-width: 600px;
			margin: auto;
			letter-spacing: -1px;
			padding-bottom: 24px;
		}

		.partner-signup-btn{
			max-width: 190px;
			color: #212326;
			margin: auto;
			text-align: center;
			height: 50px;
			font-family: proxima_bold;
			font-size: 1.2em;
			margin-top: 12px;
			padding-top: 14px;
			background: #fff;

			-webkit-transition: .2s ease-in-out;
			-moz-transition: .2s ease-in-out;
			-o-transition: .2s ease-in-out;

			&:hover{
				box-shadow: 0px 0px 0px #000;
				max-width: 220px;
			}
		}
	}
}


@media screen and (max-width: 991px){

	#about_me .about-me-details .brands-container .brand-row{
		display: none;
	}

	#about_me .about-me-details .brands-container .mobile-brand-row{
		display: block;
	}

	#about_me .about-me-details .about-me-mission .about-me-header{
		max-width: 500px;
		font-size: 3em;
	}

	#about_me .about-me-details .about-me-mission .about-me-subtitle{
		max-width: 500px;
		font-size: 1.2em;
	}

	#about_me .about-me-details .about-me-mission .about-me-mission-text{
		max-width: 500px;
		font-size: 1.2em;
	}

	#about_me .about-me-details #my_beliefs .quote-content{
		max-width: 500px;
	}

	#about_me .about-me-details #my_beliefs .quote-content{

	}

	#about_me .about-me-details #my_beliefs .quote-content .traveler-quote-header{
		font-size: 3em;
	}

	#about_me .about-me-details #my_beliefs .quote-content .traveler-quote-text{
		font-size: 1.2em;
	}

	#about_me .about-me-details #my_beliefs .quote-content .quote-images{
	}

	#about_me .about-me-details .brands-container{
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 771px){

	
}

@media screen and (max-width: 500px){
	#about_me .about-me-details .about-me-mission .about-me-header{
		max-width: 300px;
		font-size: 2em;
		padding-top: 64px;
	}

	#about_me .about-me-details .about-me-mission .about-me-subtitle{
		max-width: 300px;
		font-size: 1em;
		padding-bottom: 10px;
	}

	#about_me .about-me-details .about-me-mission .about-me-mission-text{
		max-width: 300px;
		font-size: 1em;
		padding-bottom: 72px;
	}

	#about_me .about-me-details #my_beliefs{
		height: 550px;
	}

	#about_me .about-me-details #my_beliefs .quote-content{
		max-width: 300px;
		padding-top: 64px;
		padding-bottom: 72px;
	}

	#about_me .about-me-details #my_beliefs .quote-content .traveler-quote-header{
		font-size: 2em;
	}

	#about_me .about-me-details #my_beliefs .quote-content .traveler-quote-name{
		font-size: 2em;
		padding-bottom: 10px;
		letter-spacing: 0px;
	}

	#about_me .about-me-details #my_beliefs .quote-content .traveler-quote-text{
		font-size: 1em;
	}

	#about_me .about-me-details #my_beliefs .quote-content .quote-images{
		max-width: 300px;
		padding-top: 24px;
	}

	#about_me .about-me-details #my_beliefs .quote-content .quote-images .quote-image-button{
		width: 72px;
		height: 72px;
	}

	#about_me .about-me-details .brands-container .mobile-brand-row .mobile-brand-header{
		font-size: 2em;
	}

	#about_me .partner-signup{
		height: 550px;
		padding-top: 140px;
	}

	#about_me .partner-signup .partner-signup-title{
		font-size: 2em;
		max-width: 300px;
	}

	#about_me .about-me-details .brands-container .mobile-brand-row .mobile-brand-subtitle{
		font-size: 1.2em;
	}

	#about_me .about-me-details .brands-container .mobile-brand-row .mobile-brand-description{
		font-size: 1em;
	}
}