#homepage-typing {
	color: #263238;
	top: 0px;
	left: 0px;
	height: 650px;
	z-index: 1004;
	position: relative;
	background-size: cover !important;
	max-width: 1000px;
	margin: auto;

	.homepage-avatar-section{
		height: 100%;
		width: 40%;
		float: left;

		.homepage-avatar{
			margin: auto;
			height: 300px;
			width: 300px;
			margin-top: 140px;
		}
	}

	.homepage-typing-content {
		font-family: ptserif_bold;
		font-size: 42px;
		letter-spacing: 0px;
		left: 0px;
		top: 0px;
		z-index: 1000;
		margin: auto;
		text-align: left;
		width: 60%;
		float: right;
		padding-top: 220px;

		.homepage-header{
			font-family: ptserif_light;
			font-size: 32px;
			letter-spacing: -1px;
			margin-bottom: -20px;
			color: #333E44;
		}

		.typewrite{
			padding-top: 24px;
			font-size: 48px;
			letter-spacing: -2px;
		}
	}
}

@media screen and (max-width: 991px){

	#homepage-typing {
		height: 600px;
	}

	#homepage-typing .homepage-avatar-section{
		width: 100%;
		height: auto;
	}

	#homepage-typing .homepage-avatar-section .homepage-avatar{
		margin-top: 60px;
		margin-bottom: 20px;
		height: 220px;
		width: 220px;
		background-size: contain !important;
	}

	.homepage-typing-content{
		width: 100% !important;
		float: initial !important;
		text-align: center !important;
	}

	#homepage-typing .homepage-typing-content .homepage-header{
		margin-bottom: 0px;
		font-size: 24px;
		line-height: 36px;
	}

	#homepage-typing .homepage-typing-content .typewrite{
		font-size: 32px;
		line-height: 48px;
		letter-spacing: -1px;
		padding-top: 4px;
	}
}

@media screen and (max-width: 500px){

	#homepage-typing .homepage-typing-content .homepage-header{
		letter-spacing: -0.5px;
		margin-bottom: 0px;
		font-size: 24px;
	}

	#homepage-typing{
		padding-left: 10px;
		padding-right: 10px;
	}

	#homepage-typing .homepage-typing-content .typewrite{
		position: initial;
		font-size: 24px;
		letter-spacing: -1px;
		padding-top: 12px;
	}
}