#homepage-typing {
	color:#fff;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 800px;
	z-index: 0;
	position: relative;
	background-attachment: fixed;
	background-size: cover !important;
	padding-top: 300px;

	#homepage-typing-content {
		font-family: proxima_thin;
		font-size: 4em;
		letter-spacing: -3px;
		left: 0px;
		top: 0px;
		z-index: 1000;
		margin: auto;
		text-align: center;
		max-width: 720px;

		.typewrite{
			position: absolute;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

@media screen and (max-width: 991px){

	#homepage-typing{
		background-attachment: scroll !important;
	}

	#homepage-typing-content{
		font-size: 2em !important;
		letter-spacing: -1px !important;
		max-width: 450px !important;
	}
}

@media screen and (max-width: 500px){
	#homepage-typing #homepage-typing-content{
		font-size: 1.4em !important;
		letter-spacing: -0.5px !important;
		max-width: 300px !important;
	}

	#homepage-typing{
		height: 550px;
		padding-top: 180px;
	}
}