#mobile-nav-brand{
  background: asset-url("logos/JMlogowhitesmall.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 58px !important;
  height: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: fixed;
  z-index: 1001;
  top: 12px;
  left: 40%;
  brightness: brightness(0.1);
}

.Offscreen {
  height: 100%;
  background: #575757;
  position: fixed;
  left: -640px;
  width: 320px;
  transform: translate3d(100%, 0, 0);
  transition: all 600ms ease;
  z-index: 1010 !important;
}
.Offscreen.is-Open {
  transform: translate3d(200%, 0, 0);
  box-shadow: -24px 0px 18px rgba(0,0,0,0.1) inset;
}
.Button {
  position: absolute;
  right: -4em;
  top: 0.5em;
  width: 3.5em;
  height: 3.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: inherit;
}

.Menu-Bar {
  display: block;
  margin-bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  height: 0.5em;
  position: absolute;
  transition: all 200ms ease;
  background: #F4D03F;
  transform-origin: 50% 50%;
  border-radius: 24px;
}


.Menu-Bar.Menu-Top {
  top: 0.5em;
}
.Menu-Bar.Menu-Middle {
  top: 1.5em;
}
.Menu-Bar.Menu-Bottom {
  top: 2.5em;
}

.is-Open .Menu-Bar.Menu-Top {
  transform: rotate(45deg);
  top: 1.5em;
  box-shadow: none;
}
.is-Open .Menu-Bar.Menu-Middle {
  height: 0;
}
.is-Open .Menu-Bar.Menu-Bottom {
  transform: rotate(-45deg);
  top: 1.5em;
  box-shadow: none;
}
.Nav-List {
  font-family: proxima_regular;
  padding-top: 150px;
  text-align: center;
  font-size: 16px;
}

.Nav-List ul,
.Nav-List li {
  font-family: ptserif_bold;
  font-size: 32px;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 100px;
}

.Nav-List li{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  max-width: 100%;
  margin: auto;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &:hover{
    background: rgba(255,255,255,0.2);
    max-width: 100%;
    border-left: 4px solid #F4D03F;
    padding-left: 12px;
  }
}

.Nav-List a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 30px;
}
.Nav-List a:hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 991px){
  .brands-link{
    display: none !important;
  }
}

@media screen and (min-width: 991px){
  .mobile-brands-link{
    display: none !important;
  }
}

@media screen and (max-width: 500px){
  .Offscreen {
    left: -480px;
    width: 240px;
    transform: translate3d(100%, 0, 0);
    transition: all 600ms ease;
  }
}
