#mobile-nav-brand{
  background: asset-url("logos/JMlogowhitesmall.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 58px !important;
  height: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #212326;
  position: fixed;
  z-index: 1001;
  top: 12px;
  left: 40%;
}

.Offscreen {
  height: 100%;
  background: #212326;
  position: fixed;
  left: -640px;
  width: 320px;
  transform: translate3d(100%, 0, 0);
  transition: all 600ms ease;
  z-index: 1010;
}
.Offscreen.is-Open {
  transform: translate3d(200%, 0, 0);
  box-shadow: 32px 0px 100px #000;
}
.Button {
  position: absolute;
  right: -4em;
  top: 0.5em;
  background: rgba(0,0,0,0.4);
  width: 3.5em;
  height: 3.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: inherit;
}
.Button:hover {
  background: #5296cb;
}
.Menu-Bar {
  display: block;
  margin-bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  height: 0.5em;
  position: absolute;
  transition: all 200ms ease;
  background: #fff;
  transform-origin: 50% 50%;
  box-shadow: 1px 1px 2px #212326;
}
.Menu-Bar.Menu-Top {
  top: 0.5em;
}
.Menu-Bar.Menu-Middle {
  top: 1.5em;
}
.Menu-Bar.Menu-Bottom {
  top: 2.5em;
}
.Button:hover .Menu-Bar {
  background: #FFF;
}
.is-Open .Menu-Bar.Menu-Top {
  transform: rotate(45deg);
  top: 1.5em;
  box-shadow: none;
}
.is-Open .Menu-Bar.Menu-Middle {
  height: 0;
}
.is-Open .Menu-Bar.Menu-Bottom {
  transform: rotate(-45deg);
  top: 1.5em;
  box-shadow: none;
}
.Nav-List {
  font-family: proxima_regular;
  padding-top: 120px;
  text-align: center;
}
.Nav-List ul,
.Nav-List li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 64px;
}

.Nav-List li{
  border-bottom: 1px solid #555;
  max-width: 80%;
  margin: auto;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &:hover{
    background: rgba(255,255,255,0.4);
    max-width: 100%;

    .Nav-List a:hover {
      color: rgba(255,255,255,0.8);
    }
  }
}

.Nav-List a {
  color: #fff;
  text-decoration: none;
}
.Nav-List a:hover {
  text-decoration: none;
  color: #212326;
  cursor: pointer;
}

@media screen and (min-width: 991px){
  .Nav-List{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .Offscreen {
    left: -480px;
    width: 240px;
    transform: translate3d(100%, 0, 0);
    transition: all 600ms ease;
    z-index: 1001;
  }
}
