#my_beliefs{
	background: #f9fbf3;
	height: 800px;
	padding: 0px;
    padding-top: 100px;

    display: none;


	#belief-content{
		max-width: 940px;
		margin: auto;
		padding-top: 40px;
		height: 640px;


		.traveler-belief-header{
			font-family: ptserif_light;
			font-size: 22px;
			color: #333E44;
			text-align: left;
			font-style: italic;
			line-height: 36px;
			max-width: 600px;
			margin: auto;
		}

		.traveler-belief-text{
			font-family: opensans_light;
			font-size: 22px;
			color: #333E44;
			text-align: left;
			line-height: 36px;
			max-width: 600px;
			margin: auto;
		}

		.traveler-belief-name{
			font-family: ptserif_bold;
			font-size: 32px;
			color: #263238;
			text-align: left;
			line-height: 48px;
			padding-bottom: 12px;
			max-width: 600px;
			margin: auto;
		}
	}

	.beliefs_button_container{
		max-width: 940px;
		margin: auto;

		.belief-images{
			margin: auto;
			display: flex;

			.belief-image-button{
				width: 300px;
				height: 160px;
				float: left;
				border-radius: 4px;
				cursor: pointer;
				margin: auto;
				box-shadow: 1px 1px 2px #444;
				background-size: cover !important;
				margin-bottom: 20px;
				font-family: ptserif_bold;
				color: #ffffff;
				font-size: 32px;
				line-height: 48px;
				padding-top: 24px;
				text-align: center;

				-moz-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;

				&:hover{
					-moz-transform: scale(1.05);
					-webkit-transform: scale(1.05);
					transform: scale(1.05);
				}
			}
		}
	}
}

#partner-signup{
	background: #212326;
	height: 800px;
	padding-top: 240px;
	background-size: cover;
	background-attachment: fixed !important;
	background-size: cover !important;

	.partner-signup-title{
		font-family: ptserif_bold;
		font-size: 48px;
		text-align: center;
		color: #fff;
		max-width: 940px;
		margin: auto;
		letter-spacing: -1px;
		padding-bottom: 24px;
		line-height: 64px;
	}

	.partner-signup-btn{
		max-width: 220px;
		color: #ffffff;
		margin: auto;
		text-align: center;
		height: 60px;
		font-family: ptserif_bold;
		font-size: 22px;
		margin-top: 12px;
		padding-top: 10px;
		border: 3px solid #F4D03F;
		border-bottom: 4px solid #D8B426;
		border-radius: 4px;
		background: rgba(0,0,0,0.5);

		-webkit-transition: .4s ease-in-out;
		-moz-transition: .4s ease-in-out;
		-o-transition: .4s ease-in-out;

		&:hover{
			box-shadow: 0px 0px 24px rgba(0,0,0,0.4);
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
			background: #D8B426;
		}
	}

	.partner-signup-btn a {
		text-decoration: none !important;
	}
}

.social-link-container{
	max-width: 248px;
	margin: auto;
	margin-top: -120px;

	.social-link{
		height: 60px;
		width: 60px;
		display: inline-block;
		background-size: contain !important;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		margin-left: 10px;
		margin-right: 10px;

		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

		&:hover{
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
			opacity: 0.6;
		}
	}
}



@media screen and (max-width: 991px){

	#my_beliefs #belief-content{
		max-width: 480px;
	}
	
	#my_beliefs #belief-content .traveler-belief-header{
		font-size: 2.4em;
	}

	#my_beliefs #belief-content .traveler-belief-name{
		font-size: 1.6em;
		padding-top: 12px;
	}

	#my_beliefs #partner-signup{
		background-attachment: scroll !important;
	}
	
	#partner-signup .partner-signup-title{
		font-size: 32px;
		line-height: 48px;
		letter-spacing: 0px;
		max-width: 600px;
	}
}

@media screen and (max-width: 500px){

	#my_beliefs #belief-content{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 64px;
		padding-bottom: 72px;
	}

	#my_beliefs #belief-content .traveler-belief-header{
		font-size: 1.8em;
		letter-spacing: 0px;
		text-align: left;
		font-family: proxima_black;
	}

	#my_beliefs #belief-content .traveler-belief-name{
		font-size: 1.2em;
		text-align: left;
	}

	#my_beliefs #belief-content .traveler-belief-text{
		font-size: 1em;
		color: #fff;
		line-height: 24px;
		letter-spacing: -0.3px;
		margin: auto;
		text-align: left;
		font-family: proxima_regular
	}

	#my_beliefs #belief-content .belief-images{
		padding-top: 32px;
	}

	#my_beliefs #belief-content .belief-images .belief-image-button{
		height: 72px;
		width: 72px;
	}

	#partner-signup{
		height: 600px;
		padding-top: 140px;
	}

	#partner-signup .partner-signup-title{
		font-size: 24px;
		line-height: 36px;
	}

	#my_beliefs .social-link-container{
		max-width: 252px;
		margin-top: -80px;
	}

	#my_beliefs .social-link-container .social-link{
		height: 60px;
		width: 60px;
	}
}
