/* JON MASER FONTS */
@font-face
{
font-family: proxima_black;
src: asset_url("ProximaNovaBlack.otf");
}

@font-face
{
font-family: proxima_regular;
src: asset_url("ProximaNovaRegular.otf");
}

@font-face
{
font-family: proxima_bold;
src: asset_url("ProximaNovaBold.otf");
}

@font-face
{
font-family: proxima_light;
src: asset_url("ProximaNovaLight.otf");
}

@font-face
{
font-family: proxima_thin;
src: asset_url("ProximaNovaThin.otf");
}