/* JON MASER FONTS */
@font-face
{
font-family: proxima_black;
src: asset_url("ProximaNovaBlack.otf");
}

@font-face
{
font-family: proxima_regular;
src: asset_url("ProximaNovaRegular.otf");
}

@font-face
{
font-family: proxima_bold;
src: asset_url("ProximaNovaBold.otf");
}

@font-face
{
font-family: proxima_light;
src: asset_url("ProximaNovaLight.otf");
}

@font-face
{
font-family: proxima_thin;
src: asset_url("ProximaNovaThin.otf");
}

@font-face
{
font-family: opensans_light;
src: asset_url("OpenSans-Light.ttf");
}

@font-face
{
font-family: opensans_regular;
src: asset_url("OpenSans-Regular.ttf");
}

@font-face
{
font-family: opensans_bold;
src: asset_url("OpenSans-Bold.ttf");
}

@font-face
{
font-family: opensans_black;
src: asset_url("OpenSans-ExtraBold.ttf");
}

@font-face
{
font-family: ptserif_light;
src: asset_url("ptserif_light.ttf");
}

@font-face
{
font-family: ptserif_regular;
src: asset_url("ptserif_regular.ttf");
}

@font-face
{
font-family: ptserif_bold;
src: asset_url("ptserif_bold.ttf");
}
