.banner-container{"data-speed" => "-2", "data-type" => "parallax", style: "background: url('#{asset_path("background/lakemountain.jpeg")}') center center no-repeat"}
	.banner-content
		.banner-globe
		%h2.frame-1
			%span Hey,
			%span I'm Jon.
		%h2.frame-2 I design, build and launch brands.
		%h2.frame-3 to connect, inspire and engage
		%h2.frame-4 I'm now seeking the next big thing.
		%h2.frame-5
			%span Let's 
			%span build
			%span something amazing.
		%a.banner-circle-link
			.fa.fa-angle-double-down{style: "font-size: 3em;"}
%script{:src => "/path/to/shared/js/EventHelpers.js", :type => "text/javascript"}
	:cdata
%script{:src => "/path/to/shared/js/cssQuery-p.js", :type => "text/javascript"}
	:cdata
%script{:src => "/path/to/shared/js/jcoglan.com/sylvester.js", :type => "text/javascript"}
	:cdata
%script{:src => "/path/to/shared/js/cssSandpaper.js", :type => "text/javascript"}
	:cdata

:javascript

	$('.banner-circle-link').click(function(){
		$('html, body').animate({
			scrollTop: $("#about_me").offset().top + 5}, 800
		)
	})

	;(function($) {
	    $window = $(window);

	    $('*[data-type="parallax"]').each(function(){

	        var $bgobj = $(this);

	        $(window).scroll(function() {

	            var yPos = -($window.scrollTop() / $bgobj.data('speed'));
	            var coords = '50% '+ yPos + 'px';

	            $bgobj.css({ backgroundPosition: coords });
	        });
	    });
	})