.banner

	.banner-image{style: "background: url('#{asset_path("background/geometrycolors.png")}') center center no-repeat"}

		#banner-content
			.banner-header
				I'm
			.banner-small-header
				Jon Maser
			.banner-description
				and I like to build companies
			%a{:href => "/projects"}
				.banner-btn
					Explore Projects