#mobile_my_brands

	.mobile-brands-title-container
		.mobile-brands-header
			Welcome to my world of adventure.
		.mobile-brands-underline
		.mobile-brands-subtitle
			I travel like it's my job...because it is. I've started 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 3 companies
			from offices in 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}7 cities
			, worked with over 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 700 tour operators
			across 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 80 countries 
			, directly run trips in 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}4 countries
			, and have built communities of thousands, who represent 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}182 countries.

	.col-md-12.mobile-brand-row{style: "background-color: #34495e"}
		.mobile-brand-image{style: "background: url('#{asset_path("background/surflessonlogo.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			Adventure Local
		.mobile-brand-subtitle
			Connecting local adventure guides with travelers.
		.mobile-brand-description{style: "color: rgba(255,255,255,0.6);"}
			Adventure Local (Advlo) is a web-based reservation and management platform for the tours and activities space. Over 680 local guides and operators used our system to market their trips, communicate with customers, schedule reservations and take/send payments.
		%a{:href => "http://www.advlo.com/", :target => "_blank"}
			.mobile-brand-link
				View Site

	.col-md-12.mobile-brand-row{style: "background-color: #679895;"}
		.mobile-brand-image{style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			MadebyAdventure
		.mobile-brand-subtitle
			Adventures with a Mission
		.mobile-brand-description
			A for-profit social enterprise, MadebyAdventure was created in order to use travel as a force for good. Through partnering with non-profits, local service providers and travelers around the world, our team has launched projects in Kyrgyzstan, Morocco, Peru, Colombia, Vietnam, Mexico and Panama.
		%a{:href => "http://www.madebyadventure.com/", :target => "_blank"}
			.mobile-brand-link
				View Site

	.col-md-12.mobile-brand-row{style: "background-color: #b6bbbe;"}
		.mobile-brand-image{style: "background: url('#{asset_path("background/motorcycleshot.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			MotoGuides
		.mobile-brand-subtitle
			Online booking and marketing for motorcycle adventure travel
		.mobile-brand-description
			Motorcycle travel, a rapidly growing vertical market within the travel space, was our team's focus when we launched MotoGuides. We built a responsive marketing and reservation solution for tour companies to create, market and sell their trips around the world, while travelers could instantly book or request custom trips.
		%a{:href => "http://www.motoguides.com/", :target => "_blank"}
			.mobile-brand-link
				View Site