#short-bio{style: "background: url('#{asset_path("background/testlandscape.png")}') bottom center no-repeat"}
	.profile-description
		.profile-image{style: "background: url('#{asset_path("background/profilepicmountains.png")}') center center no-repeat"}
		.short-bio-header
			Entrepreneur, Traveler and Denver-ite
		.short-bio-subheader
			I'm passionate about building and growing businesses. From design and development to product management and partnerships, I thrive when wearing many hats.